.container {
  background:background-color: #e5e5f7;
  opacity: 1;
  background-image: linear-gradient(to right, #d8d9e7, #d8d9e7 5px, #e5e5f7 5px, #e5e5f7 );
  background-size: 10px 100%;
   
    display: grid;
   margin: after;
    grid-template-columns: 0.5fr 1.5fr 1.5fr 0.5fr;
    grid-template-rows: 0.5fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "pic heading heading ."
      "links- skills experience ."
      "links- skills education .";
  }
  
  .heading { grid-area: heading;
    
    font-size:x-large;
    text-align: left;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
  
  .skills { grid-area: skills;
   
    text-align: left;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .experience { grid-area: experience;

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .education { grid-area: education;
 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .pic { grid-area: pic;
    text-align: center;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    #profile-pic{
        width: 300px;
        height: 350px;
        border-radius: 50%;
        
        grid-column: 2/3;
      }
    
 
  
  .links- { grid-area: links-; 
  
    text-align: left;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }